:root {
  font-family: SF Pro Text, Avenir, Helvetica, Arial, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

input {
  font-family: inherit;
}

button {
  font-family: inherit;
}
