:root {
  font-family: SF Pro Text, Avenir, Helvetica, Arial, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

input {
  font-family: inherit;
}

button {
  font-family: inherit;
}

/* Global disabled button styles */
button:disabled {
  cursor: not-allowed !important;
  opacity: 0.6 !important;
}

button:disabled:hover {
  opacity: 0.6 !important;
}
